_build
.ansible/
*.gpg
*.site.yml
_build/
.coverage
.gnupg
.tmp/
.venv/
.vscode
*cache*
*secret*
ansible-navigator.log
ansible/roles/k8s/files/admin.conf
ansible/roles/k8s/files/cni/net.d/calico-kubeconfig
coverage.xml
Google Drive File Stream
jenkins-cli.jar
markdownlint-cli2-junit.xml
venv/
reflog
