[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"
loguru = "*"
myst-parser = {extras = ["linkify"], version = "*"}
paramiko = "*"
pipenv = "*"
sphinx = "*"
sphinx-autobuild = "*"
sphinx-book-theme = "*"
sphinx-copybutton = "*"
sphinx-design = "*"
sphinx-git = "*"
sphinx-last-updated-by-git = "*"
sphinxcontrib-autoyaml = "*"
sphinxcontrib-programoutput = "*"

[dev-packages]
gitpython = "*"
ipython = "*"
loguru = "*"
molecule = "*"
pylint = "*"
pytest = "*"
pytest-cov = "*"
pytest-pylint = "*"
pytest-sphinx = "*"
tox = "*"
black = "*"
