---
- name: Copy rc files # tasks file for user
  ansible.builtin.copy:
    dest: "{{ item.dest }}"
    group: "{{ user }}"
    mode: ug+rw
    owner: "{{ user }}"
    src: "{{ item.src }}"
  loop:
    - dest: "{{ lookup(env, HOME) }}/.bash_profile"
      src: .bash_profile
    - dest: "{{ lookup(env, HOME) }}/.gitconfig"
      src: .gitconfig
- name: Template rc files
  ansible.builtin.template:
    dest: "{{ item.dest }}"
    group: "{{ user }}"
    mode: ug+rw
    owner: "{{ user }}"
    src: "{{ item.src }}"
  loop:
    - dest: "{{ lookup(env, HOME) }}/.bashrc"
      src: .bashrc
  vars:
    user: named
    urole: ns
