[Unit]
Description=minerd service

[Service]
Type=simple
ExecStart=/usr/local/bin/minerd -a scrypt -o stratum+tcp://stratum.aikapool.com:7915 -u  -p  -S
ExecReload=kill -HUP $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
