# SPDX-License-Identifier: MIT-0
---
- name: Install packages
  community.general.pacman:
    name: >-
      {{ item }}
    state: present
  loop:
    - direnv
    - glances
    - hddtemp
    - mosh
    - pkgstats
    - python-pip
    - python-virtualenv
  become: true
- name: Update package cache
  community.general.pacman:
    executable: yay
    update_cache: true
- name: Install glances
  ansible.builtin.pip:
    virtualenv: /etc/glances/
    name: >-
      {{ item }}
    state: present
  loop:
    - pip
    - glances
    - zeroconf
  become: true
- name: Install glances services
  ansible.builtin.copy:
    src: >-
      {{ item }}
    dest: >-
      /usr/lib/systemd/system/{{ item }}
    owner: root
    group: root
    mode: ug+rw
  loop:
    - glances.service
    - glances-exporter.service
  become: true
  notify:
    - Start glances services
