# SPDX-License-Identifier: MIT-0
---
- name: Install direnv
  community.general.pacman:
    name: >-
      {{ item }}
    state: present
  loop:
    - direnv
    - gmotd
    - mosh
# - name: Copy pam.d sshd config
#   ansible.builtin.copy:
#     src: sshd
#     dest: /etc/pam.d/sshd
#     owner: root
#     group: root
#     mode: u+rw,go+r
#   become: true
- name: Make gmotd configuration directory
  ansible.builtin.file:
    dest: /etc/gmotd
    owner: root
    group: root
    mode: u+rw,go+r
    state: directory
  become: true
- name: Template gmotd configuration
  ansible.builtin.template:
    src: gmotd.yaml.j2
    dest: /etc/gmotd/gmotd.yaml
    owner: root
    group: root
    mode: u+rw,go+r
  become: true
- name: Stat gmotd config
  ansible.builtin.stat:
    path: /etc/gmotd/gmotd.yaml
  register: arch_gmotd_stat
- name: Validate gmotd config
  ansible.builtin.assert:
    that:
      - arch_gmotd_stat.stat.exists
      - arch_gmotd_stat.stat.isreg
# - name: Update package cache
#   community.general.pacman:
#     executable: yay
#     update_cache: true
# - name: Add missing firmware for Arch
#   community.general.pacman:
#     executable: yay
#     name: "{{ item }}"
#     state: present
#   loop:
#     - aic94xx-firmware
#     - ast-firmware
#     - linux-firmware-qlogic
#     - wd719x-firmware
#     - upd72020x-fw
# tasks file for arch
