[SAN]
subjectAltName=@alt_names

[alt_names]
DNS.1:dc01.socal.rr.com
DNS.2:nd.dc01.socal.rr.com
DNS.3:ca.dc01.socal.rr.com
DNS.4:ns1.socal.rr.com
DNS.5:glances.socal.rr.com
IP.1:192.168.1.50
IP.2:192.168.1.51
