[user]
	email = xandertheharris@gmail.com
	name = Xander Harris
	username = edwardtheharris
	signingkey = C3F3E883E9A76162
[init]
	defaultBranch = main
[alias]
	s = status
	p = push
	a = add .
	c = commit
[commit]
	gpgsign = true
[core]
	hooksPath = /home/duchess/.git/hooks
[pull]
	ff = yes
