###
# ```{rubric} PyLint
# ```
# ---
# For most Python projects PyLint is sufficient for ensuring legible code of
# decent quality.
#
# ```{literalinclude} /.github/workflows/black.yml
# :caption: .github/workflows/black.yml#name
# :language: yaml
# :start-at: "name: Black\n"
# :end-before: "####\n"
# ```
name: Black
permissions:
  contents: read
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
####

###
# ```{rubric} Jobs
# ```
# ---
# Define the jobs that run in Python Black workflow. Might like
# to add some
# reporting to the PR on the results from these at some point.
#
# ```{literalinclude} /.github/workflows/black.yml
# :caption: .github/workflows/black.yml#jobs
# :language: yaml
# :start-at: "jobs:\n"
# ```
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13"]
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - uses: actions/checkout@85e6279cec87321a52edac9c87bce653a07cf6c2 # main
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # main
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip pipenv
          pipenv requirements --dev > reqs
          pip3 install -r reqs
      - name: Detecting errors with black
        run: |
          black .
