on: ["push", "pull_request", "workflow_dispatch"]
name: Test Coveralls
permissions:
  contents: read
  issues: read
jobs:
  build:
    permissions:
      checks: write
      pull-requests: write
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13"]
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - uses: actions/checkout@85e6279cec87321a52edac9c87bce653a07cf6c2 # main
        with:
          fetch-depth: 0
      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # main
        with:
          python-version: ${{ matrix.python-version }}
      - name: git config
        run: |
          git config user.username edwardtheharris
          git config user.name 'Xander Harris'
          git config user.email 'xandertheharris@gmail.com'
          git checkout -b 123-feature-branch-test
      - name: Install Dependencies
        run: |
          pip3 install -U pip pipenv
          pipenv requirements --dev > reqs
          pip3 install -r reqs
          pytest --cov --cov-report=xml --junit-xml=results.xml --
          sed -i -e "s/__version__/$(git rev-parse --short=8 HEAD)/" sonar-project.properties
      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@3a74b2957438d0b6e2e61d67b05318aa25c9e6c6 # v2.20.0
        if: always()
        with:
          check_name: python-tests
          comment_title: Python Results
          files: results.xml
      - name: Install tox and any other packages
        run: pip install tox
      - name: Run tox
        run: tox -e py
      - name: Coveralls
        uses: coverallsapp/github-action@5cbfd81b66ca5d10c19b062c04de0199c215fb6e # main
        with:
          parallel: true
          flag-name: run-${{ matrix.python-version }}

  finish:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - name: Close parallel build
        uses: coverallsapp/github-action@5cbfd81b66ca5d10c19b062c04de0199c215fb6e # v2.3.7
        with:
          parallel-finished: true
          carryforward: "run-3.11,run-3.12,run-3.13"
