###
# ```{rubric} ShellCheck
# ```
# ---
# For most shell projects ShellCheck is sufficient for ensuring legible code of
# decent quality.
#
# ```{literalinclude} /.github/workflows/shell.yml
# :caption: .github/workflows/shell.yml#name
# :language: yaml
# :start-at: "name: ShellCheck\n"
# :end-before: "###\n"
# ```
name: ShellCheck
permissions:
  contents: read
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

###
# ```{rubric} ShellCheck Jobs
# ```
# ---
# Define the jobs that run in the ShellCheck workflow. Might like to add some
# reporting to the PR on the results from these at some point.
#
# ```{literalinclude} /.github/workflows/shell.yml
# :caption: .github/workflows/shell.yml#jobs
# :language: yaml
# :start-at: "jobs:\n"
# ```
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@85e6279cec87321a52edac9c87bce653a07cf6c2 # main
      - name: Run a one-line script
        run: echo Hello, world!
      - name: Run ShellCheck with action
        uses: ludeeus/action-shellcheck@00b27aa7cb85167568cb48a3838b75f4265f2bca # master
